.stats__header-container {
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  padding: 0.5rem;
}

.stats__header {
  color: rgba(0, 0, 0, 0.88);
  font-size: 16px;
  font-style: normal; 
  font-weight: 500;
  line-height: 24px; 
  letter-spacing: 0.32px;
}

.stats__scoring-criteria {
  overflow: hidden;
  color: #FF4405; 
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; 
  letter-spacing: 0.28px;
  text-decoration-line: underline;
}

.fetch__data-btn {
  background: #FF4405;
  color: #fff;
  width: 100%;
  transition: all 0.3s;
}

.fetch__data-btn:hover {
  background: #FF4405 !important;
  color: #fff !important;
}

.success__probability-sub-title {
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.28px;
  white-space: normal; 
  word-wrap: break-word; 
}

.csv__download-btn {
  transition: all 0.3s;
}

.csv__download-btn:hover {
  background: #fff !important;
  color: #FF4405 !important;
  border: 1px solid #e0dddd !important;
}

.stats__content-collapsed {
  margin-left: 2.5rem !important;
}

  .stats__header-wrapper,
  .stats__content {
    margin-left: 3.5rem !important;
}

@media only screen and (max-width: 768px) {
  .stats__content-collapsed {
    margin-left: 0 !important;
  }

  .stats__headers,
  .stats__content {
    margin-left: 0 !important;
  }
}