.audio-history-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px; 
}

.audio-message {
    /* background-color: #f1f1f1;  */
    /* padding: 5px 10px; */
    border-radius: 5px; 
}

.audio-recorder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 10rem;
    /* height: 100vh; */
}

.audio-recorder-chat {
    cursor: pointer;
    margin-top: -2.5rem;
    background-color: black;
    border-radius: 50%; 
    height: 4rem;
    width: 4rem;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.audio-recorder {
    cursor: pointer;
    margin-top: -0.9rem;
    height: 4rem;
    width: 4rem;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.waveform {
    width: 100%;
    height: 128px;
    margin-top: 50rem; /* Adjust as needed */
}

.audio-controls {
    /* margin-top: 10px; */
}

.audio-stop {
    color: red;
}

.audio-start {
    color: rgb(199, 199, 199);
}

.audio-recorder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redo-button, .submit-button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.redo-button {
    background-color: #866e6c; 
    color: white;
}

.submit-button {
    background-color: #f07762; 
    color: white;
}