.card-content {
    margin-bottom: 16px; 
}

.card-title {
    margin-bottom: 12px; 
}

.card-text {
    display: block;
    margin-bottom: 8px; 
}

.Overall-Performance {
    display: flex;
    flex-direction: column;
}