
.collapsed-content {
  margin-left: 7rem !important;
} 

.sidebar.web.collapsed-sidebar-staff {
  position: fixed;
  height: 100vh !important;
  top: 4rem !important;
  left: 36px;
  z-index: 999 !important;
  border-right: 1px solid #EAECF0 !important;
}
  
.sidebar .ant-menu-item::after, .ant-menu-inline {
  border-right: none;
} 
  
.sidebar .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: none;
}
  
.web {
  display: inline-block;
}

.content {
  margin-left: 16rem !important;
}

.home-page-header-mobile {
  position: fixed;
  top: 0;
  left: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 999;
  background: #fff;
}

.header-logo {
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  height: 100%;
  margin-right: 1rem;
  padding: 0.5rem 2rem 0 0.25rem;
}

.web {
  display: inline-block;
}

.mobile {
  display: none;
}

.staff-cohort-switcher-icon-mobile {
  display: none !important;
}

.d-flex.align-items-center.web-loggedin {
  display: flex;
  align-items: center;
  margin-right: 0.5rem !important;
}

.d-flex.align-items-center.staff-cohort-switcher-icon-mobile {
  display: none !important;
}

.cohort-title-mobile {
  width: 170px;
  /* transition: width 0.5s ease !important; */
}

.collapsed-cohort-switcher {
  width: 30px;
  font-size: 14px;
  margin-left: -2rem;
}

.drawer-menu-mobile {
  border:1px solid #D9D9D9;
  border-radius: 0.25rem;
}

.drawer-menu-mobile .ant-drawer-body {
  padding: 0 !important;
  overflow-y: hidden;
}

.mobile-loggedin {
  border-top: 1px solid #D9D9D9;
  padding: 0.5rem 0;
  position: absolute;
  width: 100%;
  bottom: 0.5rem;
}

.cohort-switcher-wrapper-web {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 1.1rem 0.5rem 0 0.5rem;
  border-right: 1px solid whitesmoke;
  background: #fff;
  height: 100vh;
}


.staff-outlet-wrapper.staff-outlet-wrapper-applicant {
  padding: 0 !important;
}

.menu-outlined-web {
  display: flex;
  align-items: center;
  justify-content: center;
}  

.header-left {
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.logo-text {
  font-family: 'Alliance No.1', sans-serif;
}

.color-red {
  color: var(--red-500);
}

.color-green {
  color: var(--green-500);
}

.switch-cohort-hover {
  transition: all 0.5s ease-in-out;
  border-radius: 0.25rem;
}

.applicant-cohort-switcher-modal {
  position: fixed;
  top: 4rem;
  left: 4px;
  z-index: 9999;
}

.applicant-cohort-switcher-modal .ant-modal-body {
  height: 20vh !important;
  overflow-y: auto;
}

.switch-cohort-hover:hover {
  background: #F5B7B1;
}

.application-response-title {
  font-size: 1rem;
  font-style: normal;
  line-height: 1.875rem;
  margin-left: 1.25rem;
}

.application-button-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.progress-bar {
  display: flex;
  justify-content: center;
}

.progress-dot {
  width: 15px;
  height: 2px;
  margin: 0 1px;
  border-radius: 0.2rem;
  background-color: #ccc; 
}

.progress-dot.active {
  background-color: #1890ff; 
}

.dashboard-card {
  transition: all 0.5s ease-in-out;
}

.dashboard-card:hover {
  box-shadow: 0px 0px 10px rgba(207, 67, 24, 0.1) !important;
  border: 1px solid #e9e6e5 !important;
}

.dashboard-card .ant-card-actions {
  border: none !important;
}

.dashboard-card .ant-card-actions > li  {
  display: flex;
  padding: 0 1rem;
}

.staff-cohort-switcher {
  background: #fff;
  padding:1.1rem 0 0 0.5rem;
  border-right: 1px solid whitesmoke;
}

.dashboard-total-value-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.dashboard-total-value-text {
  font-size: 1.25rem;
  font-weight: bold;
}

.application-dashboard-sub-title {
  padding: 1rem 1rem 0 1rem;
}

.dynamic-column-wrapper {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bread-crumb-container {
  margin-left: 1rem !important;
}

/* sidebar */
.header {
  position: relative;
  max-width: 100%;
  padding: 0 2rem !important;
}

.content,
.collapsed-content {
  margin-top: 4rem !important;
  transition: margin-left 0.5s ease-in-out !important;
}

.content {
  margin-left: 14rem !important;
}

.collapsed-content {
  margin-left: 4.5rem !important;
} 

.sidebar .ant-menu-item::after, .ant-menu-inline {
  border-right: none;
} 

.sidebar .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: none;
}

.web {
  display: inline-block;
}

.web-menu-icon {
  height: 3.25rem !important;
  margin-right: 0.5rem;
}

.mobile {
  display: none;
}

.ant-menu-item {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.ant-menu-item.ant-menu-item-selected {
  background: rgb(245, 245, 250) !important;
  color: #FF4405 !important;
}

.ant-menu-item:hover {
  background: rgb(243, 242, 242) !important;
}

.ant-menu-item:hover .ant-menu-item:last-child {
  margin-left: 0.625rem;
}

.head-line-container {
  width: 188px;
  border-right: 1px solid #D9D9D9;
  transition: width 0.5s ease-in-out margin-left 0.5s ease-in-out;
}

.sidebar {
  height: 100vh;
  background: whitesmoke;
}

.sidebar-collapsible {
  min-width: 72px !important;
}

.logo-text {
  display: none;
  transition: all 0.5s ease-in-out;
}

.collapsed-batch-text {
    display: none; 
}
.desktop-expanded {
  display: block;
}

  @media only screen and (max-width:768px) {
    .web-loggedin {
      display: none !important;
    }
  
    .home-page-header-mobile{
      background: #FFF;
    }
    
    .header {
      margin: 0 !important;
      padding: 0 1rem !important;
    }
  
    .loggedIn-text {
      font-size: 0.75rem;
      border: none !important;
      font-size: 0.75rem;
      background: inherit;
    }
  
    .userSpace {
      padding: 0.25rem;
    }
    
    .loggedIn-text {
      border: none !important;
      font-size: 0.75rem;
      background: inherit;
    }
  
    .ant-menu-item.ant-menu-item-selected::before {
      background: transparent !important;
    }
  
    .batch-selector {
      display: none;
    }
  
    .staff-cohort-switcher-icon {
      position: absolute;
      left: 1rem !important; 
      bottom: 1rem !important;
      z-index: 999;
    }
  
    .application-dashboard-total-response {
      text-align: center !important;
    }
         
    .header {
      margin: 0 !important;
    }
    
    .user {
      display: none;
    }
    
    .staff-cohort-switcher-icon-mobile {
      display: flex !important;
      flex-direction: column;
      align-items: center;
     }
     
     .applicant-home-header {
      margin-left: 0 !important;
     }
  }


@media all and (max-width: 992px) {
  .web,
  .web-menu-icon {
    display: none;
  }

  .head-line-container {
    width: 100%;
  }

  .head-line-container {
    border: none !important;
  }

  .mobile-liked-jobs-wrapper {
    padding: 0 1rem !important;
  }

  .mobile {
    display: inline-block;
  }
  
  .content {
    margin-left: 0px !important;
  }
  
  .collapsed-content {
    margin-left: 0px !important;
  } 

  .notification-headline {
    display: none;
  }

  .notificationTrainee {
    margin-right: 1.5rem !important;
    cursor: pointer;
  }

  .MenuOutlined-mobile {
    position: absolute;
    right: 0.75rem;
    top: 1.25rem;
  }

  .logo-text {
    display: inline-block !important;
  }

  .web {
    display: none;
  }

  .home-page-header-mobile {
    left: 0 !important;
  }

  .MenuOutlined-mobile-staff,
  .MenuOutlined-mobile {
    position: absolute;
    right: 0.5rem;
    top: 1.2rem;
  }

  .mobile {
    display: inline-block;
  }

  .application-container-home {
    height: 100vh !important;
    overflow-y: scroll !important;
  }
  
  .content {
    margin-left: 0px !important;
  }
  
  .collapsed-content {
    margin-left: 0px !important;
  } 

  .d-flex.align-items-center.web-loggedin {
    display: none !important;
  }

  .d-flex.align-items-center.staff-cohort-switcher-icon-mobile {
    display: block !important;
    position: absolute;
    top: 0;
    left: 1rem;
    height: 100%;
  }
  
  .d-flex.align-items-center.staff-cohort-switcher-icon-mobile .ant-image {
    border-right: 2px solid whitesmoke;
    padding-right: 1rem;
  }

  .menu-outlined-web {
    display: none !important;
   }

   .cohort-title-mobile {
    padding: 0;
    padding-left: 3rem !important;
    width: 180px;
  }

  .applicant-home-header {
    display: flex !important;
    flex-direction: column-reverse;
  }

  .header-left.d-flex.bread-crumb-container {
    display: none !important;
  }

}


@media (min-width: 993px) {
  .staff__pages .ant-drawer {
    display: none !important; 
  }
}

