.trainee-container-column .ant-tabs-tab-active {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  border-bottom: none !important;
}

.trainee-container-column .ant-tabs-nav {
  background: #fff !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem !important;
}

.trainee-detail-container-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.bio-staff-card .ant-card-body {
  padding: 0 !important;
}

.trainee-details-prof-card .ant-card-body {
  padding: 0.5rem !important;
}

.trainee-container-column .ant-tabs-ink-bar-animated {
  background: #fff !important;
}

.trainee-container-column .ant-card-body {
  padding: 1rem !important;
}

.staff-competency-details-drawer .ant-drawer-body {
  padding: 0 !important;
}

.staff-competency-approval-button {
  border: 0.2px dashed #d6cecb;
  color: #FF4405;
  border-radius: 0.5rem;
  background: #fff;
  transition: all 0.3s;
}

.staff-competency-approval-button:hover {
  background: #fff !important;
  color: #FF4405 !important;
}

.unverified-evidence-count {
  border: 1px solid rgb(226, 222, 217) !important;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.publication-button {
  border: 1px solid #918e8e;
  color: #222;
  background: #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 1rem;
  opacity: 0.8;
}

.publication-button:hover {
  background: #fff !important;
  color: #222 !important;
  border: 1px solid #918e8e !important;
}

.skills-table .ant-table-container {
  padding: 0.5rem !important;
}

.engagement-detail-title{
  color: rgba(0, 0, 0, 0.88);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
}

.engagement-detail-icon{
  color: #FF4405; 
}

.engagement-icon:hover{
  cursor: pointer;
}

.engagement-detail-navigation{
  border-radius: 0.25rem;
  border: 1px solid #D9D9D9;
  background: #F9FAFB;
  font-size: 1rem;
  padding: 0.5rem;
}

.engagement-cards .ant-card-body {
  padding: 0.5rem !important;
}

.engagement-cards .ant-card-head-title {
  font-size: 0.875rem !important;
}
.engagement-cards .ant-card-head{
  background: #F5F5F5;
}

.engagement-card-container {
  border-radius:  0 0 8px 8px !important;
}

.engagement-user-reaction{
  font-size: 1.5rem !important;
}

.staff__home__tabs .ant-tabs-tab-btn {
  transition: all 0 !important;
}

.staff__home__tabs .ant-tabs-tab-btn:hover {
  color: #FF4405 !important;
}

@media only screen and (max-width: 992px) {
  .staff-profile-wrapper {
    display: flex !important;
    flex-direction: column-reverse !important;
    padding: 0 1rem !important;
  }
}