.ant-layout-header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header {
   font-size: 2rem;
   margin-top: -2.3rem;
   margin-bottom: 5px;
   font-style: italic;
   cursor: pointer;
}

.pdf {
    display: inline-block;
    color: red;
    font-size: large;
    margin-top: 2px;
    background-color: white;
    padding: 0px 40px 0px 40px;
    border-radius: 5%;
}

.ant-layout-sider {
    background: #fff;
}