.job-action-button-wrapper {
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.job-action-button {
  padding: 1rem !important;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-card {
  margin-bottom: 1rem;
}

.job-header-texts {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; 
  letter-spacing: 0.28px;
}

.ant-table-extensions > div:first-child > span:only-child {
  margin-left: auto;
}

.data-table-header-row {
  border: none;
  float: left;
}

.email-drawer {
  position: absolute;
  overflow: auto;
  top: 20%;
  border: none;
  height: 60vh;
}


.email-form .ant-form-item{
  margin-bottom: 0.5rem !important;
}

.select-applicant> .ant-select-selector{
  padding: 1rem 0;
}

.email-form .ant-form-item-label label{
  font-size: 1.1rem;
  font-weight: 600;
}

.ant-drawer-content-wrapper{
  box-shadow: none !important;
}
